@import './theme/config.scss';

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
html {
    background: $dark-color;
}
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
.avatar {
    height: 30px;
    width: 30px;
}
.round-img {
    border-radius: 50%;
}
.x-large {
    font-size: 3em;
}
.large {
    font-size: 2em;
    text-align: center;
}
.text-primary {
    color:$primary-color;
}
.btn {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
.btn-primary {
    @include button($primary-color,$light-color)
}
.btn-light {
    @include button(gray,white)
}
.my-1 {
    margin: 1em 0;
}
.my-2 {
    margin: 2em 0;
}
.my-3 {
    margin: 3em 0;
}
.mx-1 {
    margin: 0 1em;
}
.mx-2 {
    margin: 0 2em;
}
.mx-3 {
    margin: 0 em;
}
.m-1 {
    margin: 1em;
}
.m-2 {
    margin: 2em;
}
.m-3 {
    margin: 3em;
}

/*navbar*/
.navbar {
    background: $other-dark;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #555;
    top: 0;
}

.navbar ul {
display: flex;
align-items: center;
}

.navbar a {
color: #fff;
padding: 0.45rem;
margin: 0 0.25rem;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-item {
    .icon-button {
        text-decoration: none;
        color: #eee;
        display: flex;
        align-items: center;
        padding: 8px;
        background: $dark-accent;
        border-radius: 50%;
        transition: filter 400ms ease-in-out,transform 50ms ease-in-out;
        font-size: 20px;
            &:hover {
            filter: brightness(1.5);
            &:active {
                transform: scale(0.9);
            }
        }
    }
    .navbar-link{
        display: flex;
        align-items: center;
        border-radius: 30px !important;
        transition: background 400ms ease-in-out;
        &:hover {
            background: $dark-accent;
        }
        p {
            margin-left: 5px;
        }
    }    
}

.dropdown {
    transition: all 400ms ease-in-out;
    position: absolute;
    top:60px;
    right: 10px;
    background: $other-dark;
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}
.menu-item {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    transition: background 200ms ease-in-out;
    &:hover {
        background-color: $dark-accent;
    }
}
.menu-item span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item .user-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.check-profile {
    transform: scale(1.2);
    padding: 10px 20px !important;
    border-bottom: 1px solid $dark-accent;
    margin-bottom: 10px !important;
}
.menu-title {
    flex:1;
    margin-left: 10px;
}
.menu {
    width: 100%;
}

.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}
.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all 300ms ease-in-out;
}
.menu-primary-exit {
    // position: absolute;
}
.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all 300ms ease-in-out;
}

.menu-secondary-enter {
    position: absolute;
    transform: translateX(110%);
}
.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all 300ms ease-in-out;
}
.menu-secondary-exit {
    // position: absolute;
}
.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all 300ms ease-in-out;
}


//landing page
.landing {
    background: url(../image/code.jpg) no-repeat;
    object-fit: center;
    background-size: auto 100%;
}
.landing .dark-overlay {
    background: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    align-items: flex-start;
    color: #eee;
}
.landing-inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 1em;
    margin-left: 3em;
}
.landing-inner * {
    margin-top: 0.5em;
}
.landing-inner .intro {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro .buttons {
    margin-top: 20px;
}
.landing-inner .lead {
    max-width: 90%;
    margin: 1.5em 0;
    font-size: 1.5em;
}
.landing-inner .register {
    margin-top: 5em;
    background-color: $light-color;
    color: $dark-color;
    width: 40%;
    height: 80%;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px 40px;
}
.form input {
    padding: 15px;
    width: 100%;
    font-size: 1em;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    transition: border 200ms ease-in-out;
    &:focus {
        border:2px solid gray;
    }
}
.form .btn {
    border: none;
    cursor: pointer;
    margin: 20px 0 0 0;
    padding: 15px;
    font-size: 1em;
    width: 100%;
}
.form small {
    color:gray;
    margin-top: -10px;
}
.already-text {
    margin-top: 1em;
    text-align: center;
    a {
        color: $primary-color;
    }
}
.details {
}
@media(min-width:900px) {
    .landing-inner {
        height: 100vh;
        object-fit: cover;
        background-position: center;
        background-size: 100%;
    }
}
@media(max-width:900px) {
    .landing-inner {
        flex-direction: column;
        transform: scale(0.9);
        .intro {
            width: 100%;
            margin-top: 1em;
            .lead {
                margin: 10px;
            }
        }
        .register {
            width: 100%;
        }
    }
}
.details {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    margin: 3em 2em;
    gap: 1em;
    color: $light-color;
}
.card {
    padding: 1em 2em;
    background: $other-dark;
    display: flex;
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 400ms ease-in-out,
    box-shadow 400ms ease-in-out;
    cursor: pointer;
    .icon i{
        font-size: 4em;
        // height: 100px;
        // width: 100px;
    }
    .card-title {
        margin: 2em 0;
    }
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 10px rgba($color: $dark-color, $alpha: 0.5);
    }
}

//Login signUp
.auth {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    color: #969696;
    input,button,small {
        margin: 10px !important;
    }
    button {
        width: 50% !important;
        display: block;
    }
    small {
        color: #969696;
    }
}

//dashboard
.dashboard {
    color: #aaa;
    .dash-buttons {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
    }
    .details {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
        .detail {
            display: flex;
            flex-direction: column;
            background: $other-dark;
            justify-content: flex-start;
            align-items: center;
            padding:0 3em 2em;
            border-radius: 10px;
        }
    }
}