$primary-color: #17a2b8;
$dark-color: #1c1e21;
$other-dark: #242526;
$dark-accent:#484a4d;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;

$ff-title: "Playfair Display", serif;
$ff-body: "Assistant", sans-serif;

.theme__light {
    $clr-light: #fdffc4;
    $clr-dark: #00332a;
    $clr-primary: #dbffa2;
    $clr-secondary: #c3fcf2;
    $clr-accent: #ff7750;

    $foreground: $clr-dark;
    $background: $clr-light;
}
.theme_dark {
    $clr-light: #fdffc4;
    $clr-dark: #00332a;
    $clr-primary: #202302;
    $clr-secondary: #00100d;
    $clr-accent: #ff7750;

    $foreground: $clr-light;
    $background: $clr-dark;
}

@mixin  button($background-color,$text-color) {
    color: $text-color;
    background-color: $background-color;
    transition: background 400ms ease-in-out;
    &:hover {
        background-color: rgba($background-color, 0.5);
    }
}